* {
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}
/*Codigo CSS*/
a:hover{
    padding: 5px;
    color: white;
    background-color: rgb(93, 93, 255);
    border-radius: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px; 
}

nav li {
    margin: 0 10px;
}

nav ul li{
    
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    
    color: #373737;
    font-size: 20px;
    text-decoration: none;
}

span{
    color: #525252;
    font-size: 20px;
    text-decoration: none;
}

.vaccination{
    color: darkslateblue;
    font-weight: bold;
    font-size: 30px;
}

.fondo_imagenes{
    border-radius: 2%;
    background: rgb(83,87,255);
    background: linear-gradient(58deg, rgba(83,87,255,1) 0%, rgba(99,78,207,1) 65%, rgba(126,64,125,1) 100%); 
}

.fondo_imagenes2{
    border-radius: 2%;
    background: rgb(135,224,255);
    background: linear-gradient(58deg, rgba(135,224,255,1) 38%, rgba(0,22,252,1) 100%); 
}

.menu_boton{
    background-color:blue;
    border-radius: 15%;
    color: white;
    padding: 15px;
    box-shadow: 0 1rem 1rem rgba(0, 23, 85, 0.2);
    /* box-shadow: 1px 3px 3px black ; */
}

.push-right {
  margin-left: auto;
}

.margenContenedor{
    margin-top: 40px;
}

/*Contenedor 1*/
.grid-container {
    display: flex;
    padding: 10px;
  }
  
.grid-item-texto {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 30px;
    text-align: justify;
    width: 40%;
}

.grid-item-texto2 {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    margin-left: 25px;
    font-size: 20px;
    text-align: justify;
    
}

.grid-item-texto3 {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    margin: 0px 50px;
    font-size: 20px;
    text-align: justify;
    
}

.tamaño-img {
    width: 20px;
    height: 20px;
    /* box-shadow: 1px 1px 1px yellow; */

}

.grid-item-img {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 30px;
    text-align: center;
    width: 60%;
    z-index: -1;

}

.sobreponer{
    float: left;
    margin-left: 100px;
    /* background-color: white; */
    background: rgb(255,255,255);
    background: linear-gradient(58deg, rgba(255,255,255,0.9239615118612272) 99%, rgba(126,64,125,1) 100%); 
    z-index: 10;
   
    box-shadow: 0 1rem 1rem rgba(0, 23, 85, 0.2);
}


/******************* Titulo *******************/
.titulo  {
    color: darkslateblue;
  
}

p {
    color: darkgrey;

}


/* Marcas de VACUNAS */
.grid_vaccines{
    width: 20%;
    height: 100px;
    margin: 0px 20px;
}

.noStyle{
    list-style: none;
}



/* cards */
.ajustar-card1{
    margin-top: -80px;
}

.ajustar-card{
    margin-top: -200px;
}

.tamano_titulo_card{
    font-size: 30px;
}

.ajustar-imagen-cardfinal{
    margin: 200px 0px;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card{

    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    margin-top: -5rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.060);
    border: .1rem solid rgba(255, 255, 255, 0.18);
    color: var(--white-text);
}

.card h6{
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.card h2{
    letter-spacing: .1rem;
    margin: 0.1rem 0;

}

.top-row{
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.top-row i{
    font-size: 2rem;
}

.background-top-row{
    background-color: rgb(213, 243, 255);
}

.background-top{
    background-color: rgb(93, 93, 255);
}

.content{
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.content p{
    font-size: .9rem;    
}

.button{
    border-radius: 3rem;
    color: var(--white-text);
    font-size: .8rem;
    padding: .5rem .3rem;
    letter-spacing: .1rem;
    align-self: center;
    border: .1rem solid rgba(255, 255, 255, 0.18);
}

.button2{
    border-radius: 0.5rem;
    color: white;
    font-style: bold;
    font-size: .8rem;
    padding: .5rem .3rem;
    letter-spacing: .1rem;
    text-align: center;
    border: .1rem solid rgba(255, 255, 255, 0.18);
}

.centrado{
    margin-left: 4rem;
}


/* Animacion */
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Elementos desplegables*/
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown:hover{
    background-color: #c7f1fc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    font-size: 15px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* FOOTER */
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e95e1e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: white;
	background-color: #e95e1e;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}